extends layout

block content
  .jumbotron
    .container
      h1 With great power there must also come — great responsibility.
      p
        | The Bulbulator is a deployment tool which allows fast environment creation mainly used for testing freshly baked new features. Anyone can deploy on-the-fly a Kinetic environment based on a given code branch.
      p
        a.btn.btn-primary.btn-lg(role='button', href='/new') Create a new environment
        | &nbsp;
        a.btn.btn-info.btn-lg(role='button', href='/environments') See the list