/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.gravatar-small {
  border-radius: 3px;
}

.stdout {
  font-family: 'Source Sans Pro', sans-serif;
  background: #2d2d2d;
  color: #d3d0c8;
  height: 700px;
  overflow: auto;
}

.stdout ul {
    list-style: none;
    padding: 0;
}

.stdout .error {
    color: #b50e0e;
}

.stdout .success {
    color: #13ab41;
}

.stdout.big {
  height: auto;
  overflow: inherit;
  padding: 20px;
}